<div class="cloud-wrapper" >
	<ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
		<li><a data-weight='3' href='/tags/ia'>IA</a></li>
		<li><a data-weight='5' href='/tags/desenvolvimento'> Desenvolvimento</a></li>
		<li><a data-weight='5' href='/tags/opiniao'> Opinião</a></li>
		<li><a data-weight='3' href='/tags/solid'>SOLID</a></li>
		<li><a data-weight='5' href='/tags/srp'> SRP</a></li>
		<li><a data-weight='3' href='/tags/ocp'> OCP</a></li>
		<li><a data-weight='5' href='/tags/lsp'> LSP</a></li>
		<li><a data-weight='6' href='/tags/isp'> ISP</a></li>
		<li><a data-weight='3' href='/tags/dip'> DIP</a></li>
		<li><a data-weight='4' href='/tags/csharp'>C#</a></li>
		<li><a data-weight='7' href='/tags/dotnet'> dotnet</a></li>
		<li><a data-weight='6' href='/tags/net10'> .net 10</a></li>
		<li><a data-weight='3' href='/tags/clean-architecture'>Clean Architecture</a></li>
		<li><a data-weight='5' href='/tags/dependency-injection'>Dependency Injection</a></li>
	</ul>
</div>
