<div class="cloud-wrapper">
	<ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
		<li><a data-weight="3" href="/tags/desenvolvimento">desenvolvimento</a></li>
		<li><a data-weight="5" href="/tags/srp">SRP</a></li>
		<li><a data-weight="7" href="/tags/lsp">LSP</a></li>
		<li><a data-weight="4" href="/tags/ocp">OCP</a></li>
		<li><a data-weight="2" href="/tags/isp">ISP</a></li>
		<li><a data-weight="3" href="/tags/dip">DIP</a></li>
		<li><a data-weight="1" href="/tags/opiniao">opinião</a></li>
		<li><a data-weight="9" href="/tags/solid">SOLID</a></li>
		<li><a data-weight="3" href="/tags/ia">ia</a></li>

	</ul>
</div>