// Breakpoints
$large-breakpoint: 80em !default;
$medium-breakpoint: 64em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #1a1b1c !default;
$header-bg-color-secondary: #202124 !default;
$header-height: 10rem !default;

// Text
$section-headings-color: #414752 !default;
$body-text-color: #202124 !default;
$body-link-color: #404142 !default;
$blockquote-text-color: #bdbebf !default;
$excerpt-text-color: #404142 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;