---
layout: default
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<body>
  {% include navigation.html %}
  <a id="skip-to-content" href="#content">Skip to the content.</a>
  <main id="content" class="main-content" role="main">
 
    <h1>{{ page.title}}<span class="parts">&nbsp;{{ page.parts }}</span></h1>

    <p class="post-meta">
      {% if page.tags %}
      <span class="tags">Tags: {{ page.tags | join: ", " }}</span>
      {% endif %}
    </p>
    <p>{{ page.excerpt }}</p>
    {{ content }}
      <p class="post-meta-author">
        <span>por <a href="{{ '/author.html' | relative_url }}">{{ site.author.name }}</a>,</span>
        <span>{{ page.date | date: "%d/%m/%Y" }}</span>
      </p>
  </main>
  {% include navigation.html %}
</body>
<script src="{{ "/assets/js/copy-code.js" | relative_url }}"></script>

</html>